@page
@model ConversationManager.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h2>Witaj!</h2>
<br />
<p>Podaj swoje ID</p>
<form method="post">
    <div asp-validation-summary="All"></div>
    <br />
    <div>ID: <input asp-for="Customer.Id" /></div>
    <br />
    <input type="submit" />

</form>
