@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Customers)
            {
                <tr>


                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Address</td>
                    <td>
                        <a asp-page="/Edit" asp-page-handler="product.Id">edit</a>
                        <button type="submit" asp-page-handler="kupa"
                                asp-route-id="product.Id">
                            delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>

    </table>

    <a asp-page="/Step1" asp-page-handler="@Model.Customer.Id">Wypełnij dane</a>
</form>
