@page
@model WebApplication4.Pages.ShoppingModel
@{
    ViewData["Title"] = "Create";
}

<h2>Witaj na zakupach</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>Produkt: <input /></div>
    <input type="submit" />

</form>
