@page
@model ConversationManager.Pages.Step2Model
@{
    ViewData["Title"] = "krok2";
}
<h3>ID = @Model.Customer.Id</h3>
<h4>Podaj miasto zamieszkania</h4>

<form method="post">
    <input asp-for="Customer.Id" type="hidden" />
    <input asp-for="Customer.Name" type="hidden" />
    <input asp-for="Customer.Surname" type="hidden" />
    <div>
        <label asp-for="Customer.City">Miasto</label>
        <div>
            <input asp-for="Customer.City" />
        </div>
    </div>
    <br />
    <div>
        <button type="submit">Zapisz</button>
    </div>
</form>